@page "/Getpayloads"
<h3>Getpayloads</h3>
<div class="form-group row">
    <label  class="col-sm-2 col-form-label">
       Hash
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Search By Hash"
                   @bind="hash" />
    </div>
</div>
<input type="button" value="Search" @onclick="SearchPayload" class="btn btn-outline-primary" />

@if (payloads==null||payloads.Count<=0)
{
    <p><em>No data available</em></p>
}
else
{
    <div class="card-columns">


        @foreach (var item in payloads)
        {
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">User :@item.User</li>
                    <li class="list-group-item">Item :@item.Item</li>
                    <li class="list-group-item">TransactionTypes :@item.TransactionTypes</li>
                    <li class="list-group-item">Amount :@item.Amount</li>

                </ul>
            </div>
        }

    </div>
}

@code {
    string hash;
    public List<Payload> payloads { get; set; } 
    [Inject]
    public BlockService Service { get; set; }
    private async Task SearchPayload()
    {
        payloads = await Service.GetPayloads(hash);
    }
}
