@page "/"
    <div class="ml-0 m-auto">
        <h1>WelCome To Blockchain Projects</h1>

        <h2>Developed  By Sourav Singha</h2>
        <p>
            <NavLink  href="facebook.com/sourav4439" Match="NavLinkMatch.All">
                 Facebook
            </NavLink>
        </p>
        <p><NavLink href="github.com/sourav4439" Match="NavLinkMatch.All">
    Github
</NavLink></p>
    </div>

